@media (max-width: 768px) {
  .md\:flex {
    display: block;
  }
  .md\:justify-between {
    justify-content: normal;
  }
  .md\:mb-0 {
    margin-bottom: 1rem;
  }
  .md\:w-96 {
    width: 100%;
  }
  .md\:h-32 {
    height: auto;
  }
  .sm\:gap-6 {
    gap: 2rem;
  }
  .sm\:grid-cols-2 {
    grid-template-columns: 1fr;
  }
  .sm\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .lg\:p-8 {
    padding: 1rem;
  }
  .lg\:my-8 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}